.DS_Store
.Rhistory
.RData
aDNA.code-workspace
*/raw/reads/
*/raw/ref_genome/
*/processed/
*/logs/
*/results/
results/
__pycache__
sequencing_data/
fetch_results.sh
update_roco_scripts.sh
analysis_no_pipeline/
Drosi_NHM.R